body,
main {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    overflow-x: hidden;
    user-select: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    margin: auto;
    right: 0;
    left: 0;
}

.header-right > div {
    display: inline;
}

.contacts {
    margin-right: 59px;
}
.banner p{
        font-size: 21px;
    letter-spacing: .26px;
    text-align: center;
}
.banner{
        border-radius: 3px;
    background-color: #fff;
    width: 40%;
    left: 0;
    right: 0;
    margin: 100px auto auto;
    position: relative;
}
    

.aboutus {
    margin-right: 50px;
}

.accessories {
    margin-right: 51px;
}

.conteiner-flex {
    display: flex;
    justify-content: space-between;
}

.header-right {
    margin-right: 59px;
    margin-top: 56px;
    text-decoration: none;
}

.buttomtop {
    margin-top: 42px;
    border-radius: 3px;
    background: none;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 17px 33px;
    color: white;
    cursor: pointer;
}

.header a {
    color: white;
    text-decoration: none;
}

.header .header-right > li > a:hover {
    background-color: transparent;
    color: white;
}

.image img {
    width: 60px;
    height: 30px;
    display: block;
    margin-top: 41px;
}

.block2 {
    display: flex;
}

.h1 {
    position: fixed;
    top: 265px;
    left: 0;
    width: 650px;
    margin-left: 40px;
    color: white !important;
}

.p {
    position: fixed;
    top: 375px;
    left: 0;
    width: 650px;
    margin-left: 40px;
    color: white !important;
}

.footer3 a {
    background: red;
    color: white;
    border-radius: 4px;
    position: fixed;
    margin-left: 40px;
    top: 430px;
}

.image3 img {
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    top: 545px;
    margin-left: 40px;
}

.image3 p {
    color: white;
    position: fixed;
    top: 580px;
    margin-left: 40px;
    width: 150px;
}

.main-section {
    background: url('images/main-bg.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ====  */

.container-flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1281px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 38px;
    font-weight: 700;
    line-height: 59px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.main-section .description {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.main-section {
    padding: 191px 0 111px;
}

.left-block {
    width: 55%;
    padding-top: 46px;
    text-align: left;
}

.left-block .description {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin: 28px 0 72px;
}

.main-section .left-block button {
    margin-bottom: 105px;
}

.red {
    border-radius: 3px;
    background-color: #d33837;
    width: 177px;
    text-align: center;
    border: none;
    padding: 20px 0 17px;
    color: white;
    cursor: pointer;
}

.red:hover {
    box-shadow: 5px 5px 5px #030a0e;
}

.main-img {
    width: 37%;
    max-height: 424px;
    height: auto;
}
.left-block .main-img {
    display: none;
}

.cards-wrap {
    display: flex;
}

.cards-wrap .card:not(:last-child) {
    margin-right: 102px;
}

.card img {
    width: 24px;
    height: auto;
    margin-bottom: 17px;
    display: block;
}

.card p {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.catalog {
    background: white;
    width: 100%;
    text-align: center;
}

h2 {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.35px;
}

.container p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
}

.catalog2 {
    background: white;
    width: 100%;
    text-align: center;
}

h3 {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.35px;
}

.catalog2 p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #0a1720;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.18px;
}

ul.menu > li > :hover {
    background-color: white;
}

#advancing-list {
    display: none;
}

ul.advancing {
    position: absolute;
    width: 295px;
    top: 55px;
    background-color: white;
    z-index: 10;
    border: 1px solid beige;
}

ul.advancing > li {
    display: block;
    border: 1px solid #d8dce0;
}

ul.advancing > li > a {
    display: block;
    padding: 10px;
    color: #d0d3d5;
    background-color: white;
    text-decoration: none;
    padding: 20px 0 17px;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.18px;
}

ul.advancing > li > a:hover {
    text-decoration: none;
    color: black;
}

ul.menu > li:hover #advancing-list {
    display: block;
}

.menu {
    width: 295px;
    border-radius: 3px;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 14px;
    font-family: 'Helvetica Neue';
}

.modelofcar {
    border-radius: 3px;
    border: 1px solid #0a1720;
    margin: 15px auto 0;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.18px;
    padding: 16px 111px 17px 15px;
    outline: none;
}

.yourname {
    border-radius: 3px;
    border: 1px solid #0a1720;
    margin: 15px auto 0;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.18px;
    padding: 16px 111px 17px 15px;
    outline: none;
}

.yourphonenumber {
    border-radius: 3px;
    border: 1px solid #0a1720;
    margin: 15px auto 0;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.18px;
    padding: 16px 111px 17px 15px;
    outline: none;
}

.red.width {
    width: 295px;
    margin-top: 18px;
}

.container-flex2 {
    display: flex;
    justify-content: center;
}

h4 {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.35px;
    text-align: center;
}

h5 {
    width: 52px;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
}

.information {
    margin-top: 155px;
    height: 100%;
}

.information p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
    text-align: center;
}

.information2 {
    width: 48%;
    margin-left: 119px;
    margin-top: 50px;
}

.information2 p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.23px;
    text-align: left;
}

.information2 ul {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin-top: 40px;
    text-align: left;
}

.colortext {
    color: red;
}

h6 {
    width: 52px;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin-top: 100px;
}

.name {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
    text-align: left;
}

.avto {
    opacity: 1;
    color: #a3a8ad;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
    text-align: left;
}

.commendtext p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-style: italic;
    line-height: 29px;
    letter-spacing: 0.23px;
    margin-top: 37px;
    width: 100%;
    text-align: left;
}

.block-right {
    display: flex;
}

.commend img {
    width: 426px;
    height: 384px;
}

.commend-title {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 24px;
}

.commend {
    margin-top: 85px;
    width: 38%;
}

.card2 li img {
    margin-right: 19px;
}

.hidetext {
    position: relative;
    width: 443px;
    opacity: 0.03;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.97px;
    top: 86px;
    left: 0;
    right: 0;
    margin: auto;
}

.hidetext.position {
    top: 60px;
}

.hidetext2 {
    position: relative;
    width: 443px;
    opacity: 0.03;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.97px;
    top: 90px;
}

.hidetext3 {
    position: relative;
    width: 443px;
    opacity: 0.03;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.97px;
    top: 100px;
}

.information .container {
    text-align: center;
}

.hidetext4 {
    position: absolute;
    opacity: 0.03;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.97px;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 10px;
}

h7 {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.35px;
    text-align: center;
}

.communications p {
    opacity: 0.6;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
    text-align: center;
}

.allblock {
    display: flex;
    justify-content: space-around;
    margin-top: 77px;
    text-align: center;
    padding-bottom: 110px;
}

.communications {
    width: 100%;
    margin-top: 100px;
}

.days img {
    margin-top: 20px;
        max-width: 320px;
    max-height: 230px;
    width: auto;
    height: auto;
}

.days .textcommunit p {
    margin-top: 42px;
}

.payment p {
    margin-top: 8px;
}

.textcommunit {
    color: #0a1720;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    width: 61%;
    margin-left: 88px;
}

.textcommunitday {
    color: #0a1720;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin-top: 26px;
}

.textcommunitoplata {
    color: #0a1720;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin-top: -7px;
    width: 56%;
    margin-left: 70px;
    text-align: right;
}

.textposition {
    position: relative;
    text-align: center;
}

.commendimg img {
    width: 84px;
    height: 84px;
}

.commendimg {
    display: flex;
    flex-direction: row;
}

.commendtext {
    margin-bottom: 100px;
}

.firstcommend {
    box-shadow: 0 2px 4px rgba(222, 223, 225, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
}

.firstcommend p {
    text-align: center;
}

.secondcommend {
    box-shadow: 0 2px 4px rgba(222, 223, 225, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 76px;
}

.thirdcommend {
    box-shadow: 0 2px 4px rgba(222, 223, 225, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 76px;
}

.bottom-section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    background-color: #0a1720;
    background-position: 50%;
}

.hidetext5 {
    position: absolute;
    opacity: 0.09;
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.98px;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 60px;
}

.textbottom {
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.35px;
    width: 60%;
    margin: auto;
    right: 0;
    left: 0;
    padding-top: 93px;
}

button.red,
a.red {
    border-radius: 3px;
    background-color: #d33837;
    width: 177px;
    text-align: center;
    border: none;
    padding: 20px 0 17px;
    color: white;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 108px;
}

.bottombutton {
    margin-top: 30px;
    position: relative;
}

.line {
    width: 939px;
    border: 1px solid #ffffff;
    opacity: 0.2;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.blockline {
    position: relative;
    padding-top: 61px;
}

.bottomblock {
    margin-top: 61px;
    position: relative;
}

.textredaction {
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.23px;
}

.number {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.container-centr {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    padding-bottom: 27px;
}

.numbertwo {
    display: flex;
    flex-direction: row;
    margin-left: 39px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-left: 41px;
}

.allnumber {
    margin-left: 15px;
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.23px;
}

.bottom {
    width: 100%;
    background-color: white;
    padding: 36px 0 43px;
}

.bottomright {
    margin-left: 81px;
}

.bottomleft {
    margin-top: 3px;
    margin-right: 10px;
}

.fon {
    position: relative;
}

.fon img {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.cardtext {
    opacity: 0.6;
    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.23px;
}

.catalogtext > ul > li {
    display: inline;
}

.cataloginteriorblock {
    border-radius: 3px;
    border: 1px solid rgba(9, 22, 31, 0.12);
    background-color: #ffffff;
    list-style: none;
    text-align: left;
    margin-right: 30px;
    max-width: 413px;
    transition: all .15s linear;
}

.cataloginteriorblock:hover {
    box-shadow: 0 0 51px rgba(0,0,0,0.2);
    margin-top: -10px;
    margin-bottom: 10px;
}

.cataloginteriorblock > img {
    width: 100%;
    height: 250px;
}

.cataloginteriorblock:last-child {
    right: 0;
}

.catalogintercentr {
    margin-top: 71px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 13px;
}

.flex-derection {
    display: flex;
    flex-direction: row;
}

.toptext {
    height: 22px;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
}

.centertext {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15px;
    margin-top: 19px;
}

.squar {
    margin-top: 17px;
    margin-left: 17px;
}

.bottomtext {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin-top: 37px;
    margin-left: 21px;
    margin-bottom: 42px;
}

.textblock {
    margin-left: 31px;
    margin-top: 25px;
    white-space: nowrap;
    min-height: 150px;
}

.textblock img {
    margin-right: 4px;
}

.linecenterblock {
    border: 1px solid #f1f2f3;
    margin-top: 27px;
}

.buttonbuy {
    border-radius: 3px;
    border: 1px solid #d33837;
    background-color: #ffffff;
    margin-top: 25px;
    margin-right: 21px;
    margin-bottom: 26px;
    padding: 17px 65px;
    cursor: pointer;
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.16px;
}

.catalogcenterblock {
    border-radius: 3px;
    border: 1px solid rgba(9, 22, 31, 0.12);
    background-color: #ffffff;
    list-style: none;
    text-align: left;
    margin-top: 72px;
}

.buttom-tabs {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    cursor: pointer;
    position: relative;
}

.buttom-tabs:after {
    content: '';
    display: none;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 9px;
    width: 100%;
    background-color: red;
    border-radius: 3px 3px 0 0;
}

.buttom-tabs:hover:after {
    display: block;
}

.linetopblock {
    border: 1px solid rgba(9, 22, 31, 0.12);
    margin: 0px 152px;
    margin-top: 16px;
}

.catalogtexttop {
    display: flex;
    justify-content: space-between;
    margin: 0px 180px;
}

.catalogtexttop > div {
    display: flex;
    flex-direction: column;
}

.catalogtext {
    margin-top: 59px;
}

.menucalls {
    border-radius: 3px;
    background-color: #ffffff;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.textmenucalls {
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.26px;
    text-align: center;
}

.red.widthbottom {
    width: 295px;
    margin-top: 18px;
}

.modal {
    background-color: rgba(129, 137, 142, 0.6);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.redoval img {
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
}

.active {
    display: block;
}

.close {
    cursor: pointer;
    right: inherit;
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
    width: 10px;
    height: 10px;
}
.closebanner{
        right: inherit;
    margin-top: 15px;
    margin-right: 15px;
    width: 21px;
    height: 20px;
    backgrouund-radius: 3px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 11;
}
.closebanner div:nth-child(1) {
    transform: rotate(140deg);
    width: 14px;
    height: 2px;
    background-color: #000;
    margin-top: 9px;
    margin-left: 4px;
}
.closebanner div:last-child {
    transform: rotate(-140deg);
    width: 14px;
    height: 2px;
    background-color: #000;
    margin-top: -2px;
    margin-left: 4px;
}

.modalblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.close div:nth-child(1) {
    transform: rotate(140deg);
    width: 10px;
    height: 1px;
    background-color: black;
}

.close div:last-child {
    transform: rotate(-140deg);
    width: 10px;
    height: 1px;
    background-color: black;
    margin-top: -1px;
}

.header-right > div img {
    display: none;
    position: absolute;
}

.header-right > div:hover img {
    display: inline;
}

.tab-item {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tab-item.active {
    display: flex;
}

.catalogblock {
    min-height: 690px;
    position: relative;
}

.texttabs {
     white-space: pre-wrap; 
}

.show-more {
    color: black;
    cursor: pointer;
    margin-top: 19px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 3px;
    max-width: 122px;
    display: inline-block;
    margin-left: 31px;
}

.slider-wrap {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    z-index: 10;
}

.slick-wrap {
    display: none;
    height: 600px;
    width: 1000px;
    z-index: 2;
}

.slider-wrap.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrap img {
    display: block;
    height: 600px;
    width: 900px !important;
    margin: auto;
    object-fit: contain;
}

.layer {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.slick-cloned {
    /* display: none !important; we don't need clons */
    justify-content: center;
}

.commendtext .slider-wrap {
    display: flex;
    position: relative;
    height: auto;
}

.comments {
    height: 400px;
    width: 1281px;
}

.comments .slider-wrap img {
    height: auto;
}

.comments .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
    outline: none;
    box-shadow: none;
    border: none;
}

.comments .firstcommend {
    box-shadow: none;
}

.comments .slick-prev:before,
.comments .slick-next:before {
    color: #000;
}

.comments .slick-active:last-child {
    margin-right: 0;
}
.bottomright img{
        max-width: 60px;
    max-height: 30px;
    width: auto;
    height: auto;
}
.buttom-tabs.active:after{
    display: block;
}
.catalog_t{
    color: #0a1218;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.35px;
    padding: 120px 0px 40px;
}
@media all and (max-width: 1025px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
    }
    .cards-wrap .card:not(:last-child) {
        margin-right: 25px;
    }
    .catalogtexttop{
        margin: 0px;
    }
    .linetopblock{
        margin: 0px;
    }
    .cataloginteriorblock{
        margin: 20px 5px 5px;
    }
    .comments{
        width: 80%;
        margin: auto;
    }
    .information2{
        margin-left: 0px;
    }
    .commend{
        width: 43%;
    }
    .slick-prev{
        left: -6px;
    }
    .slick-next{
        right: -5px;
    }
    .slider-wrap img{
        max-width: 700px;
    }
    .slick-wrap{
        max-width: 900px;
    }
    .menucalls{
        margin-top: 50px;
    }
    .cataloginteriorblock>img{
        min-height: 200px;
    }
    .textblock{
        min-height: 180px;

    }
    .container-centr{
            display: flex;
    justify-content: center;
    }
}
@media all and (max-width: 769px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
    }
    .main-section .container {
        flex-direction: column;
    }
    .main-section .left-block {
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .main-section .main-img {
        display: none;
    }
    .main-section .card img {
        margin-right: auto;
        margin-left: auto;
    }
    .tab-item.active{
        flex-wrap: wrap;
    }
    .catalogblock{
        min-height: 1800px;
    }
    .information2{
        width: 100%;
    }
    .commend{
        width: 0%;
        display: none;
    }
    .slick-prev, .slick-next{
        bottom: 30px;
        top: auto;
    }
    .comments{
        width: calc(100vw - 100px);
        margin: auto;
    }
    .textcommunit{
        width: 100%;
        margin-left: 0px;
    }
    .textcommunitoplata{
        text-align: center;
        width: 100%;
    }
    .allblock{
        flex-direction: column;
    }
    .textbottom{
        width: 100%;
    }
    .line{
        width: 100%;
    }
    .buttomtop{
        display: none;
    }
    .header-right{
        margin-right: 0px;
    }
    .menucalls{
        margin-top: 15px;
    }
        .slider-wrap img{
        max-width: 600px;
        max-height: 500px;
    }
    .slick-wrap{
        max-width: 600px;
    }
}
@media all and (max-width: 426px){
    .header-right{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .buttom-tabs{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .number{
        margin: auto;
    }
    .numbertwo{
        margin: auto;
    }
    .mail{
        margin: auto;
    }
    .slick-track{
        margin-top: 50px;
    }
    .slider-wrap img{
        max-width: 350px;
        max-height:  400px;
    }
    .slick-wrap{
        max-width: 350px;
    }

    .textcommunitoplata{
        margin-left: 0px;
    }
      .container-centr{
        flex-direction: column;
    }  
    .menucalls{
        margin-top: 15px;
        width: 100%;
        height: 500px;
    }
    .catalogtexttop{
        flex-wrap: wrap;
    }
    .slick-next, .slick-prev{
        bottom: -90px;
        top: auto;
    }
    .slick-next{
        right: 120px;
    }
    .slick-prev{
        left: 120px;
    }
}

@media all and (max-width: 376px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
    }
    .header-right {
        margin-right: 0px;
        margin-top: 30px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .buttomtop {
        display: none;
    }
    .aboutus {
        margin-right: 0px;
    }
    .accessories {
        margin-right: 0px;
    }
    .contacts {
        margin-right: 0px;
    }
    .main-section {
        background-position: 28%, 50%;
    }
    h1 {
        font-size: 25px;
        line-height: 25px;
        order: 1;
    }
    .left-block .description {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 51px;
        order: 2;
    }
    a.red {
        order: 3;
        margin-bottom: 52px;
    }
    .cards-wrap {
        display: flex;
        order: 5;
        flex-direction: column;
        margin-top: 63px;
    }
    .card {
        margin-bottom: 29px;
    }
    .main-section .main-img {
        display: none;
    }
    .cards-wrap .card:not(:last-child) {
        margin-right: 0px;
    }
    .main-img {
        width: 100%;
    }
    .left-block .main-img {
        display: block;
    }
    .catalogtexttop {
        margin: 0px;
        flex-wrap: wrap;
        margin-left: 15px;
        justify-content: none;
    }
    .buttom-tabs {
        font-size: 15px;
        letter-spacing: 0.15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .linetopblock {
        display: none;
    }
    .tab-item.active {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .information2 {
        width: 100%;
        margin-left: 0px;
    }
    .commend {
        display: none;
    }
    .information2 ul {
        font-size: 16px;
    }
    .information2 ul > li {
        margin-bottom: 10px;
    }
    .slick-wrap {
        display: none;
        height: auto;
        max-width: 320px;
        z-index: 2;
    }
    .slider-wrap img {
        width: 320px !important;
        max-height: 400px;
    }
    .information2 p {
        text-align: center;
    }
    .firstcommend p {
        text-align: left;
    }
    .commendtext p {
        width: 80%;
    }
    .slick-prev,
    .slick-next {
        top: 110%;
    }
    .slick-prev {
        left: -1px;
    }
    .slick-next {
        right: 30px;
    }
    .line {
        width: 100%;
    }
    .slider-wrap {
        width: 100vw;
    }
    .comments {
        width: 100%;
    }
    .allblock {
        margin-top: 68px;
        padding-bottom: 56px;
        flex-direction: column;
    }
    .textcommunit {
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .textcommunitday {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 26px;
    }
    .textcommunitoplata {
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    .container-centr {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
    }
    .number {
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .numbertwo {
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .mail {
        margin-left: auto;
        margin-right: auto;
    }
    .textbottom {
        width: 100%;
        padding-top: 0px;
    }
    .bottomright {
        margin-left: 15px;
    }
    .bottomleft {
        margin-top: 3px;
        margin-right: 16px;
        font-size: 12px;
    }
    .menucalls {
        margin-top: 20px;
        width: 100%;
    }
    .modalblock {
        padding: 80px;
    }
    .textmenucalls {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
    .cardtext {
        font-size: 16px;
    }
    .container p {
        font-size: 16px;
    }
    .texttabs {
        font-size: 14px;
    }
    .catalog2 p {
        font-size: 16px;
    }
    .information p {
        font-size: 16px;
    }
    .information2 p {
        font-size: 16px;
    }
    .communications p {
        font-size: 16px;
    }
    #texttabs {
        font-size: 14px;
    }
    .bottomtext {
        margin-left: 10px;
    }
    .textblock {
        margin-left: 31px;
    }
    .cataloginteriorblock {
        margin-right: 0px;
    }
}

@media all and (max-width: 321px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
    }
    .image img {
        width: auto;
        height: auto;
        display: block;
        margin-top: 10px;
        margin-left: 5px;
        max-width: 60px;
    max-height: 30px;
    }
    .header-right {
        margin-right: 10px;
        margin-top: 10px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .main-section {
        background-position: 28%, 50%;
    }
    h1 {
        font-size: 18px;
        line-height: 25px;
        order: 1;
    }
    .left-block .description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 51px;
        margin-top: -20px;
        order: 2;
    }
    a.red {
        order: 3;
        margin-bottom: 52px;
        margin-left: 72px;
    }
    .cards-wrap {
        display: flex;
        order: 5;
        flex-direction: column;
        margin-top: 63px;
    }
    .card {
        margin-bottom: 29px;
    }
    .main-section .main-img {
        display: none;
    }
    .header-right div {
        margin-right: 0px;
    }
    .cards-wrap .card:not(:last-child) {
        margin-right: 0px;
    }
    .block2 > div:last-child {
        display: none;
    }
    .main-section .left-block {
        display: flex;
        flex-direction: column;
    }
    .left-block > .main-img {
        width: 82%;
        max-height: 424px;
        height: auto;
        margin-left: 29px;
        margin-right: 29px;
        display: block;
        order: 4;
    }
    .hidetext {
        font-size: 39px;
        letter-spacing: 0.49px;
        top: 45px;
    }
    h2 {
        font-size: 18px;
        letter-spacing: 0.22px;
    }
    .container p {
        font-size: 14px;
        letter-spacing: 0.18px;
    }
    .catalogtexttop {
        margin: 0px;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 15px;
        justify-content: none;
    }
    .buttom-tabs {
        font-size: 12px;
        letter-spacing: 0.15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .linetopblock {
        display: none;
    }
    .tab-item.active {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .cataloginteriorblock {
        margin-top: 24px;
    }
    .textblock {
        margin-left: 31px;
        margin-top: 20px;
    }
    .toptext {
        font-size: 14px;
        letter-spacing: 0.17px;
    }
    #texttabs {
        font-size: 13px;
        letter-spacing: 0.16px;
    }
    .bottomtext {
        font-size: 14px;
        letter-spacing: 0.17px;
        margin-top: 31px;
        margin-bottom: 33px;
    }
    .buttonbuy {
        margin-top: 20px;
        margin-bottom: 21px;
        padding: 12px 40px;
        font-size: 13px;
        letter-spacing: 0.16px;
    }
    .show-more {
        font-size: 13px;
    }
    h3 {
        font-size: 18px;
        letter-spacing: 0.22px;
    }
    .information {
        margin-top: 0px;
    }
    h4 {
        font-size: 18px;
        letter-spacing: 0.22px;
    }
    .information2 {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .information2 ul {
        font-size: 13px;
        letter-spacing: 0.16px;
    }
    h5 {
        font-size: 14px;
        letter-spacing: 0.18px;
    }
    h6 {
        font-size: 14px;
        letter-spacing: 0.18px;
        margin-top: 50px;
    }
    .firstcommend p {
        text-align: left;
    }
    .commend {
        display: none;
    }
    .commendtext {
        margin-bottom: 0px;
    }
    .communications {
        margin-top: 0px;
    }
    h7 {
        font-size: 18px;
        letter-spacing: 0.22px;
    }
    .allblock {
        margin-top: 68px;
        padding-bottom: 56px;
        flex-direction: column;
    }
    .textcommunit {
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .textcommunitday {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 26px;
    }
    .textcommunitoplata {
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    .textbottom {
        font-size: 18px;
        letter-spacing: 0.35px;
        padding-top: 0px;
    }
    .button.red a.red {
        margin-bottom: 50px;
    }
    .blockline {
        padding-top: 0px;
    }
    .bottomblock {
        margin-top: 50px;
    }
    .textredaction {
        font-size: 14px;
        letter-spacing: 0.23px;
    }
    .number {
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .numbertwo {
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .mail {
        margin-left: auto;
        margin-right: auto;
    }
    .container-centr {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
    }
    .bottomright {
        margin-left: 15px;
    }
    .bottomleft {
        margin-top: 3px;
        margin-right: 16px;
        font-size: 12px;
    }
    .left-block .main-img {
        display: block;
    }
    .commendtext p {
        width: 280px;
    }
    .slick-prev,
    .slick-next {
        top: 110%;
    }
    .slick-prev {
        left: -1px;
    }
    .slick-next {
        right: 30px;
    }
    .line {
        width: 100%;
    }
    .menucalls {
        margin-top: 20px;
        width: 100%;
    }
    .modalblock {
        padding: 80px;
    }
    .textmenucalls {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
    .comments {
        width: 100%;
    }
    .slick-wrap {
        display: none;
        height: auto;
        max-width: 320px;
        z-index: 2;
    }
    .slider-wrap img {
        max-height: 400px;
        width: 300px !important;
    }
}
